* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    background-image: url("tbYFXJZ.jpg");
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3vh;
}
.imagewindow {
    width: 20vw;
    height: 100vh;
    position: relative;
}

.imagewindow div {
    position: absolute;
    top: 40%;
    width: 100%;
    height: 20vh;
    background-color: rgba(0,0,0,0.6);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: min(6vh, 4vw);
    gap: 1vw;
}


.imagewindow div img{
    max-height: 70%;
    max-width: 50%
}

#signupform div{
    width: max(30%, 150px);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}
#signupform div label, #signupform div input{
    display: block;
}

#formdiv{
    background-color: #ffffff;
    box-shadow: 0px 8px 5px #eeeeee, 0px -4px 5px #eeeeee;
    position: relative;
}

#formdiv p{
    font-size: 1.5rem;
    font-weight: bold;
}

#contentcontainer{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.contentdiv > p {
    margin: 2vh 10% 0 10%;
}


#submitdiv{
    background-color: #f7f7f7;
    flex-grow: 1;
}
form input {
    min-width: 100%;
}

#herodiv{
    min-height: 25%;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    background-color: #f7f7f7;
}


#herotext{
    margin: max(7vh, 2.5rem) 10% max(5vh, 2rem) 10%;
}

input[type=submit]{
    margin: 4vh 0% 0 10%;
    
}

@media (max-width: 850px){
    body {
        display: flex;
        flex-direction: column;
    }
    .imagewindow {
        /*Should be 100 vw but I get a scroll bar if this is over 97, can't find any margin that would cause this*/
        width: 97vw;
        height: 30vh;
    }

    .imagewindow div {
        top: 35%;
        width: 100%;
        height: 10vh;

    }

}

@media (max-width: 520px){
    #signupform div{
        width: max(70%, 150px);
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}